.title {
    position: relative;
    text-align: center;
    margin-top: 20%;
    font-weight: bold;
    font-size: large;
}

.help {
    position: relative;
    text-align: center;
    font-weight: lighter;
    font-size: medium;
}
