.header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    border-bottom: double;
    border-bottom-width: thin;
    box-shadow: 0px 2px 2px;
}

.button {
    position: relative;
    left: 89%;
    top: 30px;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    background-color: rgba(51, 51, 51, 0.05);
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}