.createcourse {
    position: relative;
    align-self: center;
    border: double;
    width: 1000px;
    box-shadow: 0px 2px 2px;
    margin: 0 auto;
    margin-top: 70px;
    height:fit-content;
}

.title {
    position: relative;
    margin-top: -30px;
    text-align: left;
    font-weight: bold;
    font-size: x-large;
}

.form {
    position: relative;
    text-align: left;
    width: 200px;
    height: fit-content;
    margin-left: 50px;
    margin-top: 0px;
}

.section {
    position: relative;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0px;
    margin-top: 10px;
}

.authSection {
    position: relative;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0px;
    margin-top: -20px;
}

.input {
    position: relative;
    text-align: left;
    width: 200px;
    margin-bottom: 5px;
}

.error {
    position: absolute;
    font-size: x-small;
    color: red;
    margin-top: -5px;
    width: 400px;
}

.param {
    position: relative;
    text-align: left;
    font-weight: bold;
    font-size:x-small;
}

.textarea {
    position: relative;
    text-align: left;
    width: 600px;
    height: 100px;
}

.duration {
    position: relative;
    top: -40px;
    left: 220px;
    margin-bottom: 0px;
}

.addAuthButton {
    position: relative;
    top: -35px;
    left: 220px;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    background-color: rgba(51, 51, 51, 0.05);
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.authList {
    position: relative;
    height: fit-content;
    width: 200px;
    margin-top: -40px;
}


.courseAuthList {
    position: absolute;
    height: fit-content;
    width: 200px;
    left: 700px;
    top: 200px
}

.saveButton {
    position: absolute;
    top: 90%;
    left: 380%;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    background-color: rgba(51, 51, 51, 0.05);
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.backButton {
    position: relative;
    text-align: center;
    left: 860px;
    top: 70px;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    background-color: rgba(51, 51, 51, 0.05);
    cursor: pointer;
    font-size: 14px;
}